@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(----font-poppins);
	--color-brand-primary: #0a0a0a;
	--color-brand-secondary: #c0d724;
	--color-brand-tertiary: #18470d;
	--color-brand-quaternary: #cbec5e;

	--breakpoint-xxl: 90rem; /* 1440px */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

.gradient-border {
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #a5ec5e, #bdc502);
	border-radius: 0.5rem; /* match Tailwind’s rounded-lg */
}
